/* main {
    margin: 10%;

} */

#pokemons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

#pokeCard {
    width: 25%;
    border: 1px solid #000000;
    background-color: #c2b5b5;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
}

p {
    text-align: center;
}

img {
    width: 100%;
}

.btn {
    text-decoration: none;
    color: black;
    font-size: 14pt;
    font-family: 'Times New Roman', Times, sans-serif;
    border: 2px solid #000000;
}

.btn:hover {
    color: white;
    background-color: rgb(43, 39, 39);
}